@let isLoading = store.isLoading();
@let articleCount = store.articles()[1];
@let articles = store.articles()[0];
<div class="dashboard-main-content">
  <div class="flex flex-col md:flex-row gap-4 md:justify-between md:items-center mb-4">
    <app-ui-badge [label]="articleCount.toString() + ' Articles'" />
    <a
      [routerLink]="'/blog/articles/add'"
      class="relative inline-flex items-center justify-center gap-1 overflow-hidden rounded-lg border border-primary-600 bg-primary-600 px-3.5 py-2 text-sm leading-6 font-medium text-white shadow-sm">
      Nouvel article
    </a>
  </div>
  <form [formGroup]="searchForm" class="search-input-wrapper">
    <div class="search-input-group">
      <div class="search-input-icon">
        <i-lucide [name]="icons.Search" class="search-input-icon-svg" />
      </div>
      <label for="article-search-input" class="sr-only">Rechercher un article</label>
      <input
        type="text"
        id="article-search-input"
        name="q"
        formControlName="q"
        placeholder="Rechercher un article..."
        class="search-input"
        autocomplete="off" />
    </div>
  </form>

  <div class="my-6">
    <app-ui-tabs [tabs]="tabsConfig()" [activeTab]="activeTab()" (tabChange)="onTabChange($event)" />
  </div>

  <div class="mt-6">
    @if (isLoading && articleCount === 0) {
      <app-ui-table-skeleton [rows]="10" [columns]="5" />
    }
    @if (articleCount > 0) {
      <div class="ui-table-wrapper">
        <table class="ui-table">
          <thead class="ui-table-head">
            <tr class="ui-table-head-row">
              <th class="ui-table-header">Article</th>
              <th class="ui-table-header">Date</th>
              <th class="ui-table-header">Statut</th>
              <th class="ui-table-header">Actions</th>
            </tr>
          </thead>
          <tbody class="ui-table-body">
            @for (article of articles; track article.id) {
              <tr class="ui-table-row">
                <td class="ui-table-cell">
                  <div class="flex items-center gap-3">
                    <app-ui-avatar [shape]="'square'" [image]="article | apiIMG: 'article'" [label]="article.title" />
                    <p class="font-semibold text-gray-900 w-32 md:w-48 line-clamp-1 md:line-clamp-2">
                      {{ article.title | titlecase }}
                    </p>
                  </div>
                </td>
                <td class="ui-table-cell text-sm text-gray-600 whitespace-nowrap">
                  {{ article.created_at | date: 'longDate' }}
                </td>
                <td class="ui-table-cell">
                  @if (isPublished(article)) {
                    <app-ui-badge [variant]="'success'" label="Publié" />
                  } @else {
                    <app-ui-badge label="Brouillon" />
                  }
                </td>
                <td class="ui-table-cell">
                  <div class="flex items-center gap-1">
                    <a
                      [routerLink]="['/blog/articles/update', article.slug]"
                      class="relative inline-flex items-center justify-center gap-1 overflow-hidden rounded-lg border border-transparent bg-transparent px-3.5 py-2 text-sm leading-6 font-medium text-primary-700 shadow-none hover:bg-primary-50">
                      <i-lucide [name]="icons.Pencil" class="size-4" />
                      Modifier
                    </a>
                    <app-ui-button (clicked)="onDelete(article.id)" size="small" variant="danger">
                      <i-lucide [name]="icons.Trash" class="size-4" />
                      Supprimer
                    </app-ui-button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
    <div class="flex flex-col justify-end items-end">
      <app-ui-pagination
        [currentPage]="currentPage()"
        [totalItems]="articleCount"
        [itemsPerPage]="itemsPerPage"
        (pageChange)="onPageChange($event)" />
    </div>
  </div>
  @if (articleCount === 0 && !isLoading) {
    <div class="flex flex-col items-start justify-center">
      <div class="mb-6 flex h-20 w-20 items-center justify-center rounded-full bg-primary-50 border border-primary-100">
        <i-lucide [name]="icons.Search" class="w-10 h-10 stroke-[1.5] text-primary-500" />
      </div>
      <h3 class="text-2xl font-bold text-gray-900 mb-2">Aucun article trouvé</h3>
      <p class="text-gray-500 max-w-lg mb-8 text-base leading-relaxed">
        Nous n'avons trouvé aucun article correspondant à vos critères.<br />
      </p>
      <app-ui-button (clicked)="onResetFilters()" variant="secondary" [outlined]="true">
        Réinitialiser les filtres
      </app-ui-button>
    </div>
  }
  <app-ui-confirm-dialog />
</div>
