@let isLoading = store.isLoading(); @let eventCount = store.events()[1]; @let events = store.events()[0];
<div class="dashboard-main-content">
  <div class="flex flex-col md:flex-row gap-4 md:justify-between md:items-center mb-4">
    <app-ui-badge [label]="eventCount.toString() + ' Événements'" />
    <a
      [routerLink]="'/events/add'"
      class="relative inline-flex items-center justify-center gap-1 overflow-hidden rounded-lg border border-primary-600 bg-primary-600 px-3.5 py-2 text-sm leading-6 font-medium text-white shadow-sm">
      Nouvel événement
    </a>
  </div>
  <form [formGroup]="searchForm" class="search-input-wrapper">
    <div class="search-input-group">
      <div class="search-input-icon">
        <i-lucide [name]="icons.Search" class="search-input-icon-svg" />
      </div>
      <label for="event-search-input" class="sr-only">Rechercher un événement</label>
      <input
        type="text"
        id="event-search-input"
        name="q"
        formControlName="q"
        placeholder="Rechercher une catégorie..."
        class="search-input"
        autocomplete="off" />
    </div>
  </form>

  <div class="my-6">
    <app-ui-tabs [tabs]="tabsConfig()" [activeTab]="activeTab()" (tabChange)="onTabChange($event)" />
  </div>

  <div class="mt-6">
    @if (isLoading && eventCount === 0) {
    <app-ui-table-skeleton [rows]="10" [columns]="6" />
    } @if (eventCount > 0) {
    <div class="ui-table-wrapper">
      <table class="ui-table">
        <thead class="ui-table-head">
          <tr class="ui-table-head-row">
            <th class="ui-table-header">Événement</th>
            <th class="ui-table-header">Début</th>
            <th class="ui-table-header">Fin</th>
            <th class="ui-table-header">Actions</th>
          </tr>
        </thead>
        <tbody class="ui-table-body">
          @for (event of events; track event.id) {
          <tr class="ui-table-row">
            <td class="ui-table-cell">
              <a [routerLink]="['/events', event.slug]">
                <div class="flex items-center gap-3">
                  <div class="relative">
                    <app-ui-avatar [shape]="'square'" [image]="event | apiIMG: 'event'" [label]="event.name" />
                  </div>
                  <p class="font-semibold text-gray-900 w-32 md:w-48 line-clamp-1 md:line-clamp-2 capitalize">
                    {{ event.name }}
                  </p>
                </div>
              </a>
            </td>
            <td class="ui-table-cell text-sm text-gray-600 whitespace-nowrap">{{ event.started_at | date }}</td>
            <td class="ui-table-cell text-sm text-gray-600 whitespace-nowrap">{{ event.ended_at | date }}</td>
            <td class="ui-table-cell">
              <div class="flex items-center gap-1.5">
                <a
                  [routerLink]="['/events', event.slug]"
                  class="relative inline-flex items-center justify-center gap-1 overflow-hidden rounded-lg border border-primary-300 bg-transparent px-2 py-1.5 text-sm leading-6 font-medium text-primary-700 shadow-none hover:bg-primary-50">
                  <i-lucide [name]="icons.Eye" class="size-4" />
                  Détails
                </a>
                <app-ui-button (clicked)="onDelete(event.id)" size="small" variant="danger">
                  <i-lucide [name]="icons.Trash" class="size-4" />
                  Supprimer
                </app-ui-button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
    <div class="flex flex-col justify-end items-end">
      <app-ui-pagination
        [currentPage]="currentPage()"
        [totalItems]="eventCount"
        [itemsPerPage]="itemsPerPage"
        (pageChange)="onPageChange($event)" />
    </div>
  </div>
  @if (eventCount === 0 && !isLoading) {
  <div class="flex flex-col items-start justify-center">
    <div class="mb-6 flex h-20 w-20 items-center justify-center rounded-full bg-primary-50 border border-primary-100">
      <i-lucide [name]="icons.Search" class="w-10 h-10 stroke-[1.5] text-primary-500" />
    </div>
    <h3 class="text-2xl font-bold text-gray-900 mb-2">Aucun événement trouvé</h3>
    <p class="text-gray-500 max-w-lg mb-8 text-base leading-relaxed">
      Nous n'avons trouvé aucun événement correspondant à vos critères.<br />
    </p>
    <app-ui-button
      (clicked)="onResetFilters()"
      variant="secondary"
      [outlined]="true"
      styleClass="text-base font-medium px-6 py-2.5 rounded-md shadow">
      <span class="flex items-center gap-2">
        <i-lucide [name]="icons.Funnel" class="w-5 h-5 text-primary-500" />
        <span>Réinitialiser les filtres</span>
      </span>
    </app-ui-button>
  </div>
  }
  <app-ui-confirm-dialog />
</div>
